.TodoItem {
  width: 500px;
  height: 70px;
  margin: 5px 0px;
  background-color: #ff1570;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 21px;
  font-weight: bold;
  border-radius: 20px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.Todoitem-complete{
    text-decoration: line-through;
    opacity: .5;
}